language: node_js
node_js:
 - "6"
addons:
  firefox: latest
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
 - if [ "$TRAVIS_EVENT_TYPE" == "cron" ] && [ "$TRAVIS_BRANCH" != "dataCollection" ]; then npm run testManual; fi
 - if [ "$TRAVIS_EVENT_TYPE" == "cron" ] && [ "$TRAVIS_BRANCH" == "dataCollection" ]; then travis_wait 40 ./scripts/collect-and-commit-data.sh; fi
 - if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run coverage && codecov -f .coverage/coverage-final.json -f .coverage/lcov.info; fi
